{include file="common/header"}
<div id="app" v-cloak>
    <el-curd
            index-url="capitalFlow/index?uid={:input('param.uid',0)}"
            :field="field"
            :search-date="false"
            :table-operation-width="0"
            :table-sort="{prop: 'add_time', order: 'desc'}"
            :search-catalog="[{title: '充值', id: 1}, {title: '提现', id: 2},{title: '游戏', id: 3},{title: '独角币股息', id: 4},{title: '邀请注册奖励', id: 5},{title: '好友充值奖励', id: 6},{title: '管理员后台添加', id: 7}]"
            :search-status='[{"label":"没有变动","value":"0"},{"label":"增加","value":"1"},{"label":"减少","value":"2"}]'
            preview>
        {if condition="input('param.uid')"}
            <template v-slot:button>
                <el-button type="info" icon="el-icon-back" onclick="history.back()">返回</el-button>
            </template>
        {/if}
    </el-curd>
</div>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                count: 0,
                field: [
                    {
                        label: '编号',
                        prop: 'id',
                        table: false,
                    },
                    {
                        prop: 'type',
                        label: '类型',
                        table:{sort: false},
                    },
                    {
                        prop: 'money_type',
                        label: '变化类型',
                    },
                    {
                        prop: 'amount',
                        label: '变化金额',
                    },
                    {
                        prop: 'balance',
                        label: '用户余额',
                    },
                    {
                        prop: 'admin_content',
                        label: '详情',
                    },
                    {
                        prop: 'add_time',
                        label: '时间',
                    }
                ]
            }
        }

    })
</script>
{include file="common/footer"}